.vertical {
  border-left: 2px solid rgba(51, 51, 51, 0.75);
  border-right: 2px solid rgba(51, 51, 51, 0.75);
  border-radius: 10px;
  box-shadow: 1px 1px #595959;
}

.horizontal {
  border-top: 2px solid rgba(51, 51, 51, 0.75);
  border-bottom: 2px solid rgba(51, 51, 51, 0.75);
  border-radius: 10px;
  box-shadow: 1px 1px #595959;
}

.corners {
  background: #e6e6e6;
  border-radius: 10px;
}

.center {
  background: #e6e6e6;
}

.box {
  height: 100px;
  width: 100px;
  color: rgba(51, 51, 51, 0.95);
  text-align: center;
  font-size: 35px;
  font-family: Sans-Serif;
  margin: 0 auto;
}

.container {
  background: #b3b3b3;
  max-width: 400px;
  width: 80%;
  margin: 5px auto 0px auto;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}

h2 {
  text-align: center;
  font-size: 40px;
  font-family: Sans-Serif;
  background: #2980b9;
  color: #e6e6e6;
  margin: 65px auto 0px auto;
  max-width: 440px;
  width: 89%;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
}

table {
  margin: 0 auto;
  width: 90%;
  height: 50%;
}

body {
  background: #fceabb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


